/*Pack de base*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("./navbar.css");

:root {
  --roboto: "Roboto", sans-serif;
  --open-sans: "Open Sans", sans-serif;

  --primary-color: #141215;
  --secondary-color: #fff;

  --gray-15: #262626;
  --gray-36: #5c5c5c;
  --gray-100: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  margin-top: 150px;
}


main {
  flex: 1; /* Allow the main content to grow and push the footer to the bottom */
}

footer {
  background-color: #f27405;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Push the footer to the bottom */
}

.credits {
  color: white;
  font-size: 14px;
  margin: 0;
}

.liste_des_noms {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.titre_liste_des_noms {
  color: var(--secondary-color); 
  font-size: 35px;
}

#searchInput {
  margin-bottom: 10px;
  margin-top: 2vh;
  padding: 8px;
  font-size: 16px;
}

#name-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#name-list li {
  margin-top: 2rem;
  display: list-item;
  font-size: 30px;
  color: var(--secondary-color);
}

.filtered {
  display: none;
}